<div class="col-md-12">
    <h2>Regler</h2>
</div>
<div class="col-md-4">
    <h4 style="padding-top: 20px">1. Tippa</h4>
    <div class="text-left">
        Skapa en användare och tippa EMs alla gruppspelsmatcher inklusive åttondelslag, kvartsfinallag, semifinallag och finallag.
        <br /> <br /> Du har fram till 11:e juni på dig att fila på den bästa raden. Resultaten räknas ihop i en tabell enligt poängräkningen till höger.
    </div>
</div>
<div class="col-md-4">

    <h4 style="padding-top: 20px">2. Få Poäng</h4>
    <div>
        Tabellen räknas ut enligt följande:
        <div style="padding: 10px" class="text-left">
            <table>
                <tr>
                    <td>Rätt resultat: </td>
                    <td> 3 poäng</td>
                </tr>
                <tr>
                    <td>Rätt 1 X 2: </td>
                    <td> 1 poäng</td>
                </tr>
                <tr>
                    <td>Rätt åttondelslag: </td>
                    <td> 2 poäng</td>
                </tr>
                <tr>
                    <td>Rätt kvartsfinallag: </td>
                    <td> 3 poäng</td>
                </tr>
                <tr>
                    <td>Rätt semifinallag: </td>
                    <td> 5 poäng</td>
                </tr>
                <tr>
                    <td>Rätt finallag: </td>
                    <td> 7 poäng</td>
                </tr>
            </table>

        </div>
        Vid lika resultat gäller det att ha närmast gissning i antal gjorda mål under turneringen (exlusive straffavgöranden).
    </div>

</div>
<div class="col-md-4">

    <h4 style="padding-top: 20px">3. Vinn </h4>
    <div class="text-left">
        De 200kr varje deltagare betalar går oavkortat till prispotten, vilken delas upp så här:
        <div style="padding: 10px">
            <table>
                <tr>
                    <td>
                        1:a pris 50%
                    </td>
                </tr>
                <tr>
                    <td>
                        2:a pris 30%
                    </td>
                </tr>
                <tr>
                    <td>
                        3:e pris 20%
                    </td>
                </tr>
            </table>
        </div>
    </div>



</div>


