<h2 class="text-center">Slutsummering</h2>

<div class="col-md-12">
    Då var ett fotbolls VM åter till ända och så även tipset. Det största frågetecknet som vi lämnar bakom oss är hur storfavoriten Godden kunde komma så jättesist?! Jag har tyvärr inget bra svar utan kan bara konstatera att det, trots en viss tomhet, känns skönt att det är över, för då kan inget gå åt helvete längre.<br /><br /> 
    Vi var nog många som tidigt siktade in oss på en andraplats efter snipe_rdevils oanade bettingkunskaper. Han gick länge som tåget, men som vi alla vet så stannar dom för eller senare.
    <br /><br />
    Slutspelet började. Marcus tog över ledningen och höll undan. Han kunde till och med kosta på sig ett Panama i kvartsfinal, kaxigt eller klantigt? Säkert är att ingen kommer ihåg en fegis. Stort grattis!!<br /><br />
    Lurade i vassen gjorde länge JSandlake. Efter en fin fin upphämtning under slutspelets andra hälft spurtade han om alla utom en och slutar på en andra plats. Hatten av!<br /><br />
    masterwizard kniper tredjeplatsen efter ett riktigt pallplatsdrama. 4 spelare slutade på samma poäng och utslagsfrågan fick därför fälla avgörandet. <br /><br />
    Till oss andra mindre lyckosamma så hoppas jag ändå att ni haft roligt och att tipset har givit en liten extra krydda under mästerskapet. Tack för den här gången och hoppas vi ses när det är dags igen! <br /><br />
</div>
